<h2>Simple usage</h2>

<p><strong>Note:</strong> Open the console for additional logs.</p>

<p>
	<button (click)="toggleDisableEditors()">{{ isDisabled ? 'Enable editors' : 'Disable editors' }}</button>
</p>

<h3>Classic build</h3>
<ckeditor
	[data]="editorData"
	[build]="ClassicEditorBuild"
	[disabled]="isDisabled"
	id="classic-editor"
	name="classic-editor"

	(ready)="ready($event)"
	(change)="change($event)"
	(focus)="onFocus($event)"
	(blur)="onBlur($event)">
</ckeditor>

<h3>Inline build</h3>
<ckeditor
	[build]="InlineEditorBuild"
	[disabled]="isDisabled"
	[config]="{ toolbar: [ 'heading', '|', 'bold', 'italic' ] }"
	[data]="editorData"
	id="inline-editor"
	name="inline-editor"

	(ready)="ready($event)"
	(change)="change($event)"
	(focus)="onFocus($event)"
	(blur)="onBlur($event)">
</ckeditor>

<h3>Balloon build</h3>
<ckeditor
	[build]="BalloonEditorBuild"
	[disabled]="isDisabled"
	[data]="editorData"
	id="balloon-editor"
	name="balloon-editor"

	(ready)="ready($event)"
	(change)="change($event)"
	(focus)="onFocus($event)"
	(blur)="onBlur($event)">
</ckeditor>
