<h2>Initialization crash demo</h2>
<h3>Without watchdog</h3>
<ng-container *ngIf="errorOccurred; then errorMessage; else editor">

</ng-container>

<ng-template #editor>
	<ckeditor data="Crash demo without watchdog" [config]="config" [editor]="Editor" (error)="onError($event)">
	</ckeditor>
</ng-template>

<ng-template #errorMessage>
	<p>An error has occurred, please contact us at: support&#64;company.com to resolve the situation.</p>
</ng-template>

<h3>With watchdog</h3>
<ng-container *ngIf="errorOccurredWatchdog; then errorMessageWatchdog; else editorWatchdog">

</ng-container>

<ng-template #editorWatchdog>
	<ckeditor data="Crash demo with watchdog" [config]="config" [editor]="EditorWatchdog" [watchdog]="watchdog"
		[editorWatchdogConfig]="editorWatchdogConfig" (error)="onErrorWatchdog($event)">
	</ckeditor>
</ng-template>

<ng-template #errorMessageWatchdog>
	<p>An error has occurred, please contact us at: support&#64;company.com to resolve the situation.</p>
</ng-template>

<div class="alert-box">
	The watchdog should not restart the editor during an exception and should emit an <code>error</code> only once, just
	like the editor without the watchdog. It is because the watchdog does not handle errors during initialization and
	does not restart the editor.
</div>