:host {
	display: block;
	font-family: sans-serif;
	font-size: 14px;
	padding: 1em;
	max-width: 800px;
	min-width: 500px;
	margin: 0 auto;
}

nav a.active {
	font-weight: bold;
}

:host ::ng-deep h2,
:host ::ng-deep h3,
:host ::ng-deep h4 {
	border-bottom: 1px solid #ddd;
}

:host ::ng-deep .alert-box {
	padding: 15px;
	margin-top: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
}
