<h1>CKEditor 5 integration with Angular</h1>

<nav>
	<ul>
		<li><a routerLink="/simple-usage" routerLinkActive="active">Simple usage</a></li>
		<li><a routerLink="/forms" routerLinkActive="active">Integration with forms (<code>ngModel</code>)</a></li>
		<li><a routerLink="/reactive-forms" routerLinkActive="active">Integration with reactive forms (<code>formControlName</code>)</a></li>
		<li><a routerLink="/watchdog" routerLinkActive="active">Integration with CKEditor Watchdog</a></li>
		<li><a routerLink="/context" routerLinkActive="active">Integration with CKEditor Context</a></li>
	</ul>
</nav>

<router-outlet></router-outlet>
