<h2>Shadow DOM usage</h2>

<p><strong>Note:</strong> Open the console for additional logs.</p>

<p>
	<label>
		Shadow root mode
		<select [value]="mode()" (change)="mode.set( $any( $event.target ).value )">
			@for ( item of modes; track item ) {
				<option [value]="item">{{ item }}</option>
			}
		</select>
	</label>
</p>

<p>
	<button (click)="toggleDisableEditors()">{{ isDisabled() ? 'Enable editors' : 'Disable editors' }}</button>
</p>

<h3>Classic build</h3>

@if ( styleSheets().length ) {
	<app-shadow-root-host
		[mode]="mode()"
		[styleSheets]="styleSheets()">
		<ng-template>
			<ckeditor
				[data]="editorData"
				[editor]="Editor"
				[disabled]="isDisabled()"
				id="classic-editor"
				name="classic-editor"

				(ready)="onReady()"
				(change)="onChange()"
				(focus)="onFocus()"
				(error)="onError()"
				(blur)="onBlur()">
			</ckeditor>
		</ng-template>
	</app-shadow-root-host>
}

<h4>Component events:</h4>
<ul>
	@for ( eventInfo of componentEvents; track $index ) {
		<li><span>{{ eventInfo }}</span></li>
	}
</ul>
